* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

    body {    
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #EDEDED;   
}

.cabecalho__container {    
    display: flex;
    justify-content: space-between;
    padding: 2rem 9.5rem;
    align-items: center;   
}

.cabecalho__container--nome {
    display: flex;
    color: #464646;
    font-weight: bold;
    align-content: center;
}

.cabecalho__container--menu {
    display: flex;    
    flex-direction: row;    
    list-style-type: none;
    color: #464646;
    text-decoration: none;
    gap: 1.12rem;
}

.cabecalho__container--menu--item {
    text-decoration: none;
    color: #464646;
}

.cabecalho__container--menu--email {
    text-decoration: none;
    color: #464646;
    font-weight: bold;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    background-color: #EDEDED;          
}

.apresentacao__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    text-align: left;
    gap: 0.5rem;    
}

.apresentacao__container h2 {
    font-size: 3.25rem;
    color: #464646;
    font-weight: bold;    
}

.apresentacao__container--links {
    display: flex;
    flex-direction: row;
    gap: 2em;    
    list-style-type: none;    
}

.links-link {
    text-decoration: none;
    color: #464646;
}

.sobre-mim {
    display: flex;
    flex-direction: column; 
    justify-content: center;    
    height: 384px;
    background-color: #EAF2FD;    
}

.sobre-mim__container {   
    display: flex;
    flex-direction: column;                
    text-align: left;    
    gap: 1rem;     
}

.sobre-mim__container h2 {
    font-size: 32px;
    color: #464646;
    font-weight: bold;
}

.sobre-mim__container p {
    width: 751px;
    font-size: 16px;
    color: #464646;
}

.sobre-mim__container img {
    width: 130px;
}   

.formacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1720px;
    padding: 32px 0;
    gap: 88px;
    background-color: #FFF;          
}

.formacao__container--skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;        
    width: 1136px;
    height: 244px;  
}

.formacao__container--skills h2, 
.formacao__container--hobbies h2,
.formacao__container--formacao-academica h2,
.formacao__container--cursos h2,
.experiencia-profissional h2 {    
    text-align: center;
    color:#464646;
    font-size: 32px;
    font-weight: bold;
}

.formacao__container--skills--itens {
    display: flex;
    flex-direction: row;
    width: 1136px;
    margin-top: 32px;   
    gap: 16px;
}

.formacao__container--skills--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    font-size: 16px; 
    padding: 20px;
    width: 176px;
    height: 174px;
}

.html, .css, .js, .react, .node, .git, .headphone, .filmes, .futebol, .livros {
    width: 24px;
    height: 37px;    
}

.formacao__container--hobbies {
    display: flex;
    flex-direction: column;
    margin: 0 auto;              
    width: 1136px;
    height: 244px;
}

.formacao__container--hobbies--itens {
    display: flex;
    flex-direction: row;
    width: 1136px;
    margin-top: 32px;   
    gap: 16px;
}

.formacao__container--hobbies--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    font-size: 16px;    
    padding: 20px;
    width: 176px;
    height: 174px;
}

.formacao__container--formacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1120px;
    background-color: #EAF2FD;
    gap: 64px;
}

.formacao__container--formacao-academica {
    display: flex;
    flex-direction: column;
    justify-content: center;            
    width: 100%;
    gap:16px;
}

.formacao__container--formacao-academica--adm-ufc {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 16px;
    color: #464646;
    gap: 8px;
}

.formacao__container--formacao-academica--adm-ufc h5 {
    font-size: 22px;
    color: #464646;
    font-weight: bold;
}

.formacao__container--cursos {
    display: flex;
    flex-direction: column;   
    gap: 16px;
}
 
.formacao__container--cursos--itens {
    display: flex;
    margin: 0 auto;
    gap: 16px;  
}

.formacao__container--cursos--cubos,
.formacao__container--cursos--devmedia,
.formacao__container--cursos--alura {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 16px;
    color: #464646;
    gap: 8px;
}

.formacao__container--cursos--cubos h5,
.formacao__container--cursos--devmedia h5,
.formacao__container--cursos--alura h5,
.experiencia-profissional__pdv-cubos--descricao h5,
.experiencia-profissional__cubos-bank--descricao h5,
.experiencia-profissional__decodificador--descricao h5,
.experiencia-profissional__novo--descricao h5 {
    font-size: 22px;
    color: #464646;
    font-weight: bold;    
}

.experiencia-profissional {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;   
    width: 100%;
    height: 1980px;
    padding: 0 9.5rem;
    gap: 2rem;
}

.experiencia-profissional__pdv-cubos,
.experiencia-profissional__cubos-bank,
.experiencia-profissional__decodificador,
.experiencia-profissional__novo {
    display: flex;
    gap: 16px;
}

.experiencia-profissional__cubos-bank > img,
.experiencia-profissional__novo > img {
    order: 2;
}

.experiencia-profissional__cubos-bank > div,
.experiencia-profissional__novo > div {
    order: 1;
}

.experiencia-profissional__pdv-cubos img,
.experiencia-profissional__cubos-bank img,
.experiencia-profissional__decodificador img,
.experiencia-profissional__novo img {
    box-shadow: 1px 5px 5px #686363;
}

.experiencia-profissional__pdv-cubos--descricao,
.experiencia-profissional__cubos-bank--descricao,
.experiencia-profissional__decodificador--descricao,
.experiencia-profissional__novo--descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.btn-repositorio {
    width: 116px;
    height: 51px;
    color: #2A74E4;
    border-color: #2A74E4;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.btn-ver_demo {
    width: 116px;
    height: 51px;
    color: #FFF;
    border-color: #2A74E4;
    background-color: #2A74E4;
    font-size: 16px;
}

.contato {
    width: 100%;
    height: 781px;
    padding: 88px 0px;    
    background-color: #EAF2FD;
}

.contato__container {
    display: flex;       
    width: 1136px;
    height: 660px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;   
    gap: 16px;
}

.contato__container--formulario {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 8px;   
}

.contato__container--formulario h2 {    
    color:#464646;
    font-size: 32px;
    font-weight: bold;
}

.contato__container--formulario--entradas {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contato__container--input {
    width: 546px;
    background-color: #FFF;
    border: 1px solid transparent;
    color: black;
    padding: 16px 32px;
    font-size: 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: border-color,
    box-shadow 0.2s;
}

textarea {
    resize: none;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #2A74E4;
    box-shadow: 0 0 0 3px #90bbfa;
}

.contato__container__btn--input {
    width: 165px;
    height: 51px;
    background: #2A74E4;
    color: #FFF;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;   
    padding: 18px 0px;
    font-size: 16px;   
    font-weight: 500;
}


@media (min-width: 768px) {
    .cabecalho__container {
        height: 56px;
        padding: 1rem 2rem;
    }

    .apresentacao {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 2rem;       
        height: 250px;
    }
    
    .apresentacao__container {
        width: 75%;
    }
    
    .apresentacao__container h2 {
        font-size: 1.8rem;
    }
    
    .apresentacao__container p {
        font-size: 1rem;
    }
    
    .apresentacao__container--links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;        
    }
    
    .apresentacao__container--links li {
        list-style: none;
    }
    
    .links-link {
        font-size: 1rem;
        text-decoration: none;
        color: #464646;
    }
    
    .apresentacao img {
        width: 25%; /* Ajusta a imagem para ocupar um espaço proporcional */
        max-width: 300px;        
    }

    .sobre-mim {
        display: flex;
        justify-content: center;
        padding: 0 2rem;                     
        height: 330px;
    }

    .sobre-mim__container {                        
        width: 328px;
        height: 258px;
    } 

    .sobre-mim__container h2 {
        font-size: 1.4rem;
    }

    .sobre-mim__container p {
        font-size: 0.8rem;
    }

}

@media (min-width: 1440px) {
    .cabecalho__container {
        padding: 2rem 9.5rem;      
    }

    .apresentacao {
        height: 576px;
        margin-top: 1rem;
        padding: 2rem 9.5rem;
    }   

    .apresentacao__container {                
        width: 751px;
        height: 245px;                        
    }

    .apresentacao__container h2 {
        font-size: 3.25rem;                
    }

    .apresentacao__container p {
        font-size: 1.375rem;        
    }

    .sobre-mim {
        height: 400px;
        padding: 0 9.5rem;
    }

    .sobre-mim__container {
        height: 350px;
    }

    .sobre-mim__container h2 {
        font-size: 2rem;
    }

    .sobre-mim__container p {
        font-size: 1.1rem;
    }
}
